.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    align-items:center;
    top:0;
    width: 100%;
}

.header * {
    padding-left: 10px;
}

.user-action-container {
    margin-left: auto;
    padding-right: 10px;
}